<?xml version="1.0" encoding="UTF-8"?>
<configuration status="trace">
	<appenders>
		<!-- 控制台输出 -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} : %n%msg%n" />
		</Console>
		<Console name="OnlyMsgConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n" />
		</Console>
	</appenders>
	<loggers>
		<root level="error">
			<appender-ref ref="OnlyMsgConsole" />
		</root>
		<logger name="com.huangzb" level="debug" additivity="false">
			<appender-ref ref="OnlyMsgConsole" />
		</logger>
	</loggers>
</configuration>